<!-- //นันทวัฒน์ เจริญผล 6009610376 -->
<!-- //ภูริช อภิชลติ 6009610426 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Flight View</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <!-- /GOOGLE FONTS -->
 <link rel="stylesheet" href="/css/bootstrap.css">
 <link rel="stylesheet" href="/css/font-awesome.css">
 <link rel="stylesheet" href="/css/icomoon.css">
 <link rel="stylesheet" href="/css/styles.css">
 <link rel="stylesheet" href="/css/mystyles.css">
 <script src="/js/modernizr.js"></script>
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body ng-app="myModule" ng-controller="myCtrl">
        <!-- style="background-color:white"  -->
        <br> 
        <div class="container">
            <div class="col-md-8" ng-hide="chk_click">
                    <div class="card border-warning  col-md-12" >
                        <div class= "row">
                            <div class="col-xs-2">
                                    <div class="form-group">
                                        <label>Title<font style="color:red">
                                                *</font></label>
                                        <select name="kind" class="form-control">
                                            <option value="House"> Mr. </option>
                                            <option  value="Condo">Mrs. </option>
                                            <option  value="Building">Ms. </option>
                                            
                                        </select>
                                    </div>
                                </div>
                            <div class="col-xs-3">
                                    <div class="form-group">
                                        <label > first name<font style="color:red">
                                                *</font></label>
                                        <input type="text"id= "firstname" name="firstname" class="form-control" />
                                    </div>
                            </div>
                            <div class="col-xs-3">
                                    <div class="form-group">
                                        <label > last name<font style="color:red">
                                                *</font></label>
                                        <input type="text"id = "lastname" name="lastname" class="form-control" />
                                    </div>
                            </div>
                            <div class="col-xs-4">
                                <label>Title<font style="color:red">
                                        *</font></label>
                                    <div class= "row">
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                
                                                <select name="day" class="form-control">
                                                        <% for(let i = 1 ; i<= 31 ;i++){%>
                                                            <option value="<%= i%>"> <%= i%> </option>
                                                            
                                                            <% }%>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                                <div class="form-group">
                                                    <!-- <label></label> -->
                                                    <select name="month" class="form-control">
                                                            <% for(let i = 1 ; i<= 12 ;i++){%>
                                                                <option value="<%= i%>"> <%= i%> </option>
                                                                
                                                                <% }%>
                                                        
                                                    </select>
                                                </div>
                                        </div>
                                        <div class="col-xs-4">
                                                <div class="form-group">
                                                    <!-- <label></label> -->
                                                    <select name="year" class="form-control">
                                                            <% for(let i = 1970 ; i<= 2020 ;i++){%>
                                                                <option value="<%= i%>"> <%= i%> </option>
                                                                
                                                                <% }%>
                                                    </select>
                                                </div>
                                        </div>
                                </div>
                            </div>
                          </div>
                          <div class= "row">
                                <div class="col-xs-4">
                                        <div class="form-group">
                                            <label class="require"> Passport No.<font style="color:red">
                                                    *</font></label>
                                            <input type="text"id = "passport" name="passport" class="form-control" />
                                        </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label>Country<font style="color:red">
                                                *</font></label>
                                        <select name="country" class="form-control">
                                            <option value="Thailand"> Thailand </option>
                                            <option  value="Chaina">Chaina </option>
                                            <option  value="France">France </option>
                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                        <label>Passport Expairation Date <font style="color:red">
                                                *</font></label>
                                            <div class= "row">
                                                <div class="col-xs-4">
                                                    <div class="form-group">
                                                        
                                                        <select name="Passportday" class="form-control">
                                                                <% for(let i = 1 ; i<= 31 ;i++){%>
                                                                    <option value="<%= i%>"> <%= i%> </option>
                                                                    
                                                                    <% }%>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                        <div class="form-group">
                                                            <!-- <label></label> -->
                                                            <select name="Passportmonth" class="form-control">
                                                                    <% for(let i = 1 ; i<= 12 ;i++){%>
                                                                        <option value="<%= i%>"> <%= i%> </option>
                                                                        
                                                                        <% }%>
                                                            </select>
                                                        </div>
                                                </div>
                                                <div class="col-xs-4">
                                                       
                                                            <!-- <label></label> -->
                                                            <select name="Passportyear" class="form-control">
                                                                <% for(let i = 1970 ; i<= 2020 ;i++){%>
                                                                <option value="<%= i%>"> <%= i%> </option>
                                                                
                                                                <% }%>
                                                            </select>
                                                       
                                                </div>
                                        </div>
                                    </div>
                          </div>
                          <div class= "row">
                                <div class="col-xs-12">
                                    <center>
                                        <button  style="margin-top:20px;margin-bottom:15px" type="button"
                                            class="btn btn-success btn-lg btn3d" ng-click="chooseInsurance()">
                                            
                                            Next >
                                        </button>  
                                    </center>
                                    
                                </div>
                             </div>              
                                     
                            
                   </div>
                </div>
                   <div class="col-md-8"ng-show="chk_click" >
                        <h5 ng-show="chk_click">ประกันภัยระหว่างการเดินทาง</h5>
                        <hr ng-show="chk_click">
                        <div class="container-fluid" ng-show="chk_click" style="background:white;">
                            <div class="row">
                    
                                <div class="form-check">
                                    <input class="form-check-input position-static" type="checkbox" id="checkbox_1"
                                        value="checkbox_1" name="checkbox_1" ng-model="checkbox_1"
                                        ng-click="servicesFee()">
                                </div>
                    
                                <div class="col-sm-6">
                                    ประกันกระเป๋าเดินทางหาย หรือ ล่าช้า
                                    <p>(ราคา 350 บาท)</p>
                    
                                    <p style="color:red; margin-top:20%;"><i class="fa fa-caret-right"
                                            style="color:orange; margin-right:8%;"
                                            aria-hidden="true"></i>ดูเพิ่มเติม</p>
                                </div>
                    
                                <div class="col-sm-4">
                                    <img id="Iconsize" src="./img/baggage.jpg"></img>
                                </div>
                    
                            </div>
                        </div>
                        <hr>
                        <div class="container-fluid" ng-show="chk_click" style="background:white;">
                            <div class="row">
                    
                                <div class="form-check">
                                    <input class="form-check-input position-static" type="checkbox" id="checkbox_2"
                                        value="checkbox_2" name="checkbox_2" ng-model="checkbox_2"
                                        ng-click="servicesFee2()">
                                </div>
                    
                                <div class="col-sm-6">
                                    ประกันอุบัติเหตุและสุขภาพ ระหว่างเดินทาง
                                    <p>(ราคา 1,300 บาท)</p>
                    
                                    <p style="color:red; margin-top:20%;"><i class="fa fa-caret-right"
                                            style="color:orange; margin-right:8%;"
                                            aria-hidden="true"></i>ดูเพิ่มเติม</p>
                                </div>
                    
                                <div class="col-sm-4">
                                    <img id="Iconsize" src="./img/insurance.jpg"></img>
                    
                                </div>
                    
                            </div>
                            <hr ng-show="chk_click">
                        </div>
                        <center>
                            <button ng-show="chk_click" style="margin-top:20px;margin-bottom:15px" type="button"
                                class="btn btn-success btn-lg btn3d" ng-click="newDoc()">
                                <span class="glyphicon glyphicon-cloud"></span>
                                Next >
                            </button>
                        </center>
                </div>
                <div class="col-md-4">  
                    <div class="card border-warning  col-md-12" >
                        <h2 class="p-3 mb-2 bg-warning text-dark">Payment Information </h2>
                        <div class="table-responsive">
                            <table class="table">
                            <tbody>
                            <tr>
                                    
                                <th style="width:30%"><i class="fa fa-share" style="margin-right:10px"aria-hidden="true"></i>Flight: <%= flight %></th>
                                <input type="hidden"id = "flight" name= "flight" value="<%= flight %>">
                                
                            </tr>
                            <tr>
                                <th style="width:30%"><i class="fa fa-share" style="margin-right:10px"aria-hidden="true"></i>Tax: {{tax}}  </th>
                                <input type="hidden"id = "tax" name= "tax" value="{{tax}}">
                                
                            </tr>
                            <tr>
                                <th style="width:30%"><i class="fa fa-share" style="margin-right:10px"aria-hidden="true"></i>Services Fee: {{ fee }}
                                    <p style="color:red;margin-left:100px;" ng-show="checkPriceTravel">- Travel Insurance 1300 บาท
                                        </p>
                                        <p style="color:red;margin-left:100px;" ng-show="checkPriceBaggage">- Baggage Insurance 350 บาท
                                        </p>
                                </th>
                                <input type="hidden"id = "fee" name= "fee" value="{{fee}}">
                                
                            </tr>
                            <tr>
                                <th style="width:30%"><i class="fa fa-share" style="margin-right:10px"aria-hidden="true"></i>Discount: {{discount()}}  </th>
                                <input type="hidden"id = "discount" name= "discount" value="{{discount()}}">
                                
                            </tr>
                            <tr>
                                <th style="width:30%">Total: {{ priceOfTotalFlight() }} </th>
                                <input type="hidden"id = "Total" name= "Total" value="{{priceOfTotalFlight()}}">

                            </tr>
                            </tbody></table>
                        </div>
                    </div>
                </div>
                
        </div>

</body>
</html>

<!-- Script For Bootstrap 4.3.1 CDN -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>    
<script >

    var frm = $('#eventForm');
    frm.submit(function (ev) {
    ev.preventDefault();
    console.log(frm.attr('url'))
    $.ajax({
        url: frm.attr('action'),
        type: frm.attr('method'),
        data: frm.serialize(),
        success: function () {
            swal("Good job!", "You clicked the button!", "success")
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            console.log(xhr.statusText);
            console.log(textStatus);
            console.log(errorThrown);
            swal("Oops...", "Something went wrong!", "error");
        }
    });
})
var app = angular.module('myModule', ["ngRoute"]);

app.controller('myCtrl', ['$scope', '$timeout', function ($scope,$timeout) {
    $scope.newDoc=function () {
    alert("hh")
  window.location.assign("/")
}    
     
        var newPackaged = new Package();

        var priceBagaged = new Baggage();
        var priceInsurance = new Insurance();

  var flight = document.getElementById("flight").value;

        $scope.tax = 1000;
        servicesFee = 0;
        $scope.fee = 0;
        $scope.priceOfTotalFlight = 0
        $scope.servicesFee = function () {
            if ($scope.checkbox_1 == true) {
                $scope.checkPriceBaggage = true;
                servicesFee = servicesFee + priceBagaged.getPrice();
                $scope.fee = servicesFee;
            } else if ($scope.checkbox_1 == false) {
                $scope.checkPriceBaggage = false;
                servicesFee = servicesFee - priceBagaged.getPrice();
                $scope.fee = servicesFee;
            }

        };

        $scope.servicesFee2 = function () {
            if ($scope.checkbox_2 == true) {
                $scope.checkPriceTravel = true;
                servicesFee = servicesFee + priceInsurance.getPrice();
                $scope.fee = servicesFee;
            } else if ($scope.checkbox_2 == false) {
                $scope.checkPriceTravel = false;
                servicesFee = servicesFee - priceInsurance.getPrice();
                $scope.fee = servicesFee;
            }
        }

        $scope.chk_click = false;
        var nexting = 0;
        $scope.chooseInsurance = function () {
   
    var firstName = document.getElementById("firstname").value;
    var lastName = document.getElementById("lastname").value;
    var passportID = document.getElementById("passport").value;
    // var passportID = document.getElementsByName

    

            if(firstName != '' && lastName != '' && passportID != ''){
                $scope.chk_click = true;
   
            }else{
                alert('กรุณากรอกให้ครบทุกช่อง !');
        }
    }



        $scope.discount = function () {
            if ($scope.checkbox_2 == true && $scope.checkbox_1 == true) {
                return - ((priceInsurance.getPrice() + priceBagaged.getPrice()) * 10) / 100;
            }
            return 0;
        };

        $scope.priceOfTotalFlight = function () {
            return   parseInt(flight) + parseInt($scope.tax) + parseInt(servicesFee) +$scope.discount()  ;
        };
    }]);
</script>
<script >


var Package = function() {
    var services = [];
    this.addService = function(s) {
        services.push(s);
    };
    this.getTotalPrice = function(promo) {
        return promo.getTotalPrice(this);
    }

    this.getPrivilage = function(promo) {
        return promo.getPrivilage(this);
    }

    this.getAllService = function() {
        console.log("All Service: ");
        for (var i = 0; i < services.length; i++) {
            console.log(services[i]);
        }
    };

    this.containTrueMove = function() {
        for (var i = 0; i < services.length; i++) {
            if (services[i] instanceof TrueMove) {
                return true;
            }
        }
        return false;
    };

    this.containTrueVision = function() {
        for (var i = 0; i < services.length; i++) {
            if (services[i] instanceof TrueVision) {
                return true;
            }
            return false;
        }
    };

    this.containHighSpeed = function() {
        for (var i = 0; i < services.length; i++) {
            if (services[i] instanceof HighSpeed) {
                return true;
            }
            return false;
        }
    }
}

var Baggage = function() {
    this.getPrice = function() {
        // calculations...
        return 350;
    }
};

var Insurance = function() {
    this.getPrice = function() {
        // calculations...
        return 1300;
    }
};
</script>


