<!-- //นันทวัฒน์ เจริญผล 6009610376
//ภูริช อภิชลติ 6009610426 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Flight Search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.11/dist/css/bootstrap-select.min.css">

</head>

<body style="background-color:aliceblue">
    <div class="container">
        <h1>Flight</h1>
    </div>
    <form id= "eventForm" method="POST" name="SearchFlightForm" action="result">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 order-xl-1 col-12 order-2">
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Flying from</label>
                            <input type="text" class="form-control" name="flyingFrom" id="flyingFrom" onchange="newDeprting()">
                        </div>
                        <div class="col-sm-6">
                            <label> Flying to</label>
                            <input type="text" class="form-control" name="flyingTo" id="flyingTo" onchange="newReturning()">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <label> Departing</label>
                            <select class="form-control" id="departing" name = "departing">
                                <!-- <option value="Suvarnabumi (BKK)">Suvarnabumi (BKK)</option>
                                <option value="Donmueng (DMK)">Donmueng (DMK)</option>
                                <option value="Charles de Gaulle (CDG)">Charles de Gaulle (CDG)</option> -->
                            </select><br>
                        </div>
                        <div class="col-sm-6">
                            <label> Returning</label>
                            <select class="form-control" id="returning" name = "returning">
                                <!-- <option value="Suvarnabumi (BKK)">Suvarnabumi (BKK)</option>
                                <option value="Charles de Gaulle (DMK)">Donmueng (DMK)</option>
                                <option value="Charles de Gaulle (CDG)">Charles de Gaulle (CDG)</option> -->
                            </select>
                            <br>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <label> Adults</label> <br>
                            <select class="custom-select" id="adults" name="adults">
                                <option value="one">1</option>
                                <option value="true">2</option>
                                <option value="three">3</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                                <div class="form-group">
                                        <label for="cabinClass">Cabin</label>
                                        <select class="custom-select" id="cabin" name="cabin">
                                                <option value="firstClass">FIRST CLASS</option>
                                                <option value="businessClass" selected>BUSINESS CLASS</option>
                                                <option value="economyClass">ECONOMY CLASS</option>
                                        </select> 
                                    </div>
                            
                        </div>
                    </div>
                    <br>
                    <div>
                        <button class="btn btn-danger" id="searchBtn" onclick="submit()" >Search</button>
                    </div>

                </div>
                <div class="col-xl-2 order-xl-2 col-12 order-1">
                    <input type="radio" name="choice" value="oneway"> One Way<br>
                    <input type="radio" name="choice" value="roundtrip"> Round Trip
                </div>
            </div>
        </div>
    </form>
</body>

</html>


<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.11/dist/js/bootstrap-select.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>


    // function search() {
    //     let search_result_flights = [];
    //     var from = document.getElementById('departing').value;
    //     var to = document.getElementById('returning').value;
        
    //     var fromA = from.split("(");
    //     var toA = to.split("(");
        
    //     var fromAirport = fromA[1].slice(0, 3);
    //     var toAirport = toA[1].slice(0, 3);
    //     for (let i = 0; i < allFlightDetails.length; i++) {
    //         if ((allFlightDetails[i].fromAirport === fromAirport) && (allFlightDetails[i].toAirport === toAirport)){
    //             search_result_flights.push(allFlightDetails[i]);
    //         }     
    //     }
        
    //     sessionStorage.clear();
    //     sessionStorage.setItem("results",JSON.stringify(search_result_flights));    
        
 
    // }

var frm = $('#eventForm');
frm.submit(function (ev) {
    ev.preventDefault();
    console.log(frm.attr('url'))
    $.ajax({
        url: frm.attr('action'),
        type: frm.attr('method'),
        data: frm.serialize(),
        success: function () {
            swal("Good job!", "You clicked the button!", "success")
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            console.log(xhr.statusText);
            console.log(textStatus);
            console.log(errorThrown);
            swal("Oops...", "Something went wrong!", "error");
        }
    });

})
        var allFlightDetails = [
            {
                "price": 3519,
                "airline": "Singapore Air",
                "fromAirport": "BKK",
                "toAirport": "CDG",
                "takeoffTime": "19.05",
                "landingTime": "6.50",
                "travelHours": "17.45",
                "transitNumber": 2,
                "transits": [
                    {
                        "transitAirport": "SIN",
                        "transitCountry": "Singapore",
                        "transitHours": 2.15
                    },
                    {
                        "transitAirport": "MUC",
                        "transitCountry": "Germany",
                        "transitHours": 1.30
                    }]
            },
            {
                "price": 2055,
                "airline": "Nok Air",
                "fromAirport": "CDG",
                "toAirport": "DMK",
                "takeoffTime": "20.05",
                "landingTime": "8.50",
                "travelHours": "13.45",
                "transitNumber": 1,
                "transits": [
                    {
                        "transitAirport": "SIN",
                        "transitCountry": "Singapore",
                        "transitHours": 6.45
                    }]
            },
            {
                "price": 2055,
                "airline": "Nok yuong",
                "fromAirport": "CDG",
                "toAirport": "BKK",
                "takeoffTime": "20.05",
                "landingTime": "8.50",
                "travelHours": "13.45",
                "transitNumber": 1,
                "transits": [
                    {
                        "transitAirport": "SIN",
                        "transitCountry": "Singapore",
                        "transitHours": 6.45
                    }]
            },
            {
                "price": 99999,
                "airline": "Thai Air Asia",
                "fromAirport": "BKK",
                "toAirport": "CDG",
                "takeoffTime": "17.05",
                "landingTime": "6.50",
                "travelHours": "19.45",
                "transitNumber": 2,
                "transits": [
                    {
                        "transitAirport": "DMK",
                        "transitCountry": "Thailand",
                        "transitHours": 4.15
                    },
                    {
                        "transitAirport": "MUC",
                        "transitCountry": "Germany",
                        "transitHours": 1.30
                    }]
            }
        ];

        var departing = document.getElementById('departing');
        var returning = document.getElementById('returning');
        var allAirportCity =[
            {
                "city":"Bangkok",
                "airport":"Suvarnabumi (BKK)"
            },
            {
                "city":"Bangkok",
                "airport":"Donmueng (DMK)"
            },
            {
                "city":"France",
                "airport":"Charles de Gaulle (CDG)"
            }
        ]

        function newDeprting() {
            while(departing.firstChild) {
                departing.removeChild(departing.firstChild);
            }
            for (let i = 0; i < allAirportCity.length; i++) {
                if(document.getElementById('flyingFrom').value === allAirportCity[i].city){
                    let dataOption = document.createElement("option");
                    let textNodeOfData = document.createTextNode(allAirportCity[i].airport);
                    dataOption.appendChild(textNodeOfData);
                    departing.appendChild(dataOption);
                }
            }
        }
        function newReturning() {
            while(returning.firstChild) {
                returning.removeChild(returning.firstChild);
            }
            for (let i = 0; i < allAirportCity.length; i++) {
                if(document.getElementById('flyingTo').value === allAirportCity[i].city){
                    let dataOption = document.createElement("option");
                    // dataOption.value = allAirportCity[i].airport
                    let textNodeOfData = document.createTextNode(allAirportCity[i].airport);
                    dataOption.appendChild(textNodeOfData);
                    returning.appendChild(dataOption);
                }
            }
            
        }
        

    </script>
