<!-- //นันทวัฒน์ เจริญผล 6009610376 -->
<!-- //ภูริช อภิชลติ 6009610426 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Flight View</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap 4.3.1 CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- GOOGLE FONTS -->
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>
  <!-- /GOOGLE FONTS -->
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/font-awesome.css">
  <link rel="stylesheet" href="css/icomoon.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/mystyles.css">
  <script src="js/modernizr.js"></script>
    <!-- Bootstrap-Select 1.13.11 CDN -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.11/dist/css/bootstrap-select.min.css">
        
</head>

<body style="background-color:white" ng-app="myModule" ng-controller="myCtrl">
    <div class="container">
        <br>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" href="#">List View</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Matrix View</a></li>
        </ul>

        
        <label><span class="badge badge-light">
            <script>
                var aa = JSON.parse(sessionStorage.getItem("results")); 
                document.write(aa.length);         
            </script>
        </span>of 3 Shown - one-way </label>
        
        <div class="box-body">
            <table class="table table-hover" id="booking-table">
                <thead>
                    <tr>
                        <th>     </th>
                        
                        <th>Price  </th>
                        <th>  </th>
                        <th>Ariline</th>
                        <th>Take-off</th>
                        <th>Landing</th>
                        <th>Stop (Duration)</th>
                    </tr>
                </thead>
                <tbody>
                    
                        <!-- <script>
                        
                            for(let i=0; aa.length ; i++){
                                document.write("<tr>");
                                document.write("<td>"+aa[i].price+"</td>");
                                document.write("<td>"+aa[i].airline+"</td>");
                                document.write("<td>"+aa[i].fromAirport+" "+aa[i].takeoffTime+"</td>");
                                document.write("<td>"+aa[i].toAirport+" "+aa[i].landingTime+"</td>");
                                let time = aa[i].travelHours.split('.')
                                document.write("<td>"+aa[i].transitNumber+"&nbsp<p class=\"text-muted\"> ("
                                                +time[0]+' h '+time[1]+' m '+")</p>"
                                                +"<p class=\"text-primary\" id=\"" + i + "\" onclick=\"modal(this.id)\" data-toggle=\"modal\" data-target=\"#exampleModal\"><u>details</u></p>"+"</td>");
                            document.write("</tr>");
                            }
                        </script> -->
                        <!-- <% search_result_flights.forEach(s =>{  %>
                            <tr>
                                <td><%= s.price %>   </td>
                                <td><%= s.airline %>  </td>
                                <td><%= s.fromAirport %>  <%= s.takeoffTime %>    </td>
                                <td><%= s.toAirport %>  <%= s.landingTime %>   </td>
                                <% let time = s.travelHours.split('.') %> 
                                <td><%=  s.transitNumber +" \n("+time[0]+' h '+time[1]+' m )' %>   </td>
                            </tr>
                            
                        <% }) %> -->
                       
                       
                    
                </tbody>
            </table>
        </div>
        <% search_result_flights.forEach((s,index) =>{  %>
        <div class="col-md-12">
                <ul class="booking-list">
                        
                        
                            <li>
                                <div class="booking-item-container">
                                    <div class="booking-item">
                                        <div class="row">
                                            <div class="col-md-2">
                                                    <h2 class="text-primary">$<%= s.price %></h2>
                                                    <p>/person</p>
                                                    <p class="booking-item-flight-class">Class: Economy</p>
                                                
                                            </div>
                                            <div class="col-md-2">
                                                    <div class="booking-item-airline-logo">
                                                            <img src="/img/delta.jpg" alt="Image Alternative text" title="Image Title" />
                                                            <p ><%= s.airline %></p>
                                                    </div>
                                            </div>
                                            <div class="col-md-2">
                                                <h5><%= s.fromAirport %>   <%= s.takeoffTime %></h5>
                                                
                                            </div>
                                            <div class="col-md-2">
                                                <!-- <span class="booking-item-price">$270</span><span>/person</span>
                                                <p class="booking-item-flight-class">Class: Economy</p><a class="btn btn-primary" href="#">Select</a> -->
                                                <h5><%= s.toAirport %>   <%= s.landingTime %></h5>
                                            </div>
                                            
                                            <div class="col-md-2">
                                                    <!-- <span class="booking-item-price">$270</span><span>/person</span>
                                                    <p class="booking-item-flight-class">Class: Economy</p><a class="btn btn-primary" href="#">Select</a> -->
                                                    <% let time = s.travelHours.split('.') %> 
                                                    <h5><%= s.transitNumber %>   (  <%= time[0] + " h "+ time[1] + " m )" %></h5>
                                                    <button  style="margin-top:20px;margin-bottom:15px" type="button"class="btn btn-warning btn-lg btn3d" ng-click="clickdetail(<%= index %>)">
                                                        Detail
                                                    </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8" ng-show="bt_click[<%= index %>]">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <!-- <p>Flight Details</p> -->
                                                <h3 class="text-primary">OUTBOUND</h3>
                                                <h5 class="list-title"><%= s.date %></h5>
                                                <!-- <ul class="list">
                                                    <li>US Airways 731</li>
                                                    <li>Economy / Coach Class ( M), AIRBUS INDUSTRIE A330-300</li>
                                                    <li>Depart 09:55 Arrive 15:10</li>
                                                    <li>Duration: 9h 15m</li>
                                                </ul> -->

                                                <h2 ><%= s.takeoffTime %></h2>
                                                <h4 class="list-title"><%= s.airportfrom %></h4>
                                                <hr class="style1"> 
                                                <h2 ><%= s.landingTime %></h2>
                                                <h4 class="list-title"><%= s.airportto %></h4> 
                                                <form id= "eventForm" method="POST"  action="passenger">
                                                <input type="hidden" name= "fight" value="<%=s.price %>">
                                               
                                                <button class="btn btn-primary"onclick="submit()" >Select</button>
                                                </form>
                                                <!-- <ul class="list">
                                                    <li>US Airways 1873</li>
                                                    <li>Economy / Coach Class ( M), Airbus A321</li>
                                                    <li>Depart 22:11 Arrive 23:53</li>
                                                    <li>Duration: 1h 42m</li>
                                                </ul>
                                                <p>Total trip time: 17h 58m</p> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                    
                    
                </ul>
                
            </div>
           <% }) %>
        </div>
        
        
                <div class="container">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                            </a>
                        </li>
                    <!-- Close pagination -->
                    </ul>
                
                
            <div class="form-control-inline">
                Results per page:
                <select class="custom-select" style="width:auto;" id="perpage">
                        <option value="1"selected>1</option>
                        <option value="2">2</option>
                        <option value="3" >3</option>
                </select>
            </div>
        </div>
        
    <!-- Script For Bootstrap 4.3.1 CDN -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- Script For Bootstrap-Select 1.13.11 CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.11/dist/js/bootstrap-select.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>  
</body>
</html>
<script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/slimmenu.js"></script>
        <script src="/js/bootstrap-datepicker.js"></script>
        <script src="/js/bootstrap-timepicker.js"></script>
        <script src="/js/nicescroll.js"></script>
        <script src="/js/dropit.js"></script>
        <script src="/js/ionrangeslider.js"></script>
        <script src="/js/icheck.js"></script>
        <script src="/js/fotorama.js"></script>
        <!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script> -->
        <script src="/js/typeahead.js"></script>
        <script src="/js/card-payment.js"></script>
        <script src="/js/magnific.js"></script>
        <script src="/js/owl-carousel.js"></script>
        <script src="/js/fitvids.js"></script>
        <script src="/js/tweet.js"></script>
        <script src="/js/countdown.js"></script>
        <script src="/js/gridrotator.js"></script>
        <script src="/js/custom.js"></script>
<script >
   var app = angular.module('myModule', ["ngRoute"]);


app.controller('myCtrl', ['$scope', '$timeout', function ($scope,$timeout) {
    $scope.bt_click= []
    // $scope.bt_click = false;
    $scope.clickdetail = function (index ) {
    console.log("ffff");
    
        if( $scope.bt_click[index] == true){
            $scope.bt_click[index] = false   
 
        }else{
             $scope.bt_click[index] = true   
        }
    }
}]);
    var frm = $('#eventForm');
frm.submit(function (ev) {
    ev.preventDefault();
    console.log(frm.attr('url'))
    $.ajax({
        url: frm.attr('action'),
        type: frm.attr('method'),
        data: frm.serialize(),
        success: function () {
            swal("Good job!", "You clicked the button!", "success")
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            console.log(xhr.statusText);
            console.log(textStatus);
            console.log(errorThrown);
            swal("Oops...", "Something went wrong!", "error");
        }
    });

})
</script>